@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #f8fafc; 
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px rgba(2, 6, 23, 0.5) inset !important;
  -webkit-text-fill-color: #e2e8f0 !important; 
  transition: background-color 9999s ease-in-out 0s;
}